body 
{
    font-family:Verdana;
    font-size:12px;
}

#game_table
{
    width:600px;
    background-color:#F4F7EC;
    padding:10px;
    border:2px solid #CDDB9D;
}


#players_status
{   
    border-collapse:collapse;
    width:100%;
}

#players_status td
{   
    border-bottom:1px solid #CDDB9D;
    padding:5px;
}

#players_status th
{   
    text-align:left;
    border-bottom:2px solid #CDDB9D;
    padding:5px;
}

#center_part
{
    float:none;    
    margin-left:50px;
}

#hand_part
{
    float:none;    
    margin:20px 0px 0px 50px;
}

